Brotli
cachetools
certifi
chardet
click
dash
dash-auth
dash-bio
dash-core-components
dash-html-components
dash-table
Flask
Flask-Compress
future
futures
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
idna
Ipython
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
plotly
protobuf
pyasn1
pyasn1-modules
pymongo[srv]
dnspython
pyparsing
python-dateutil
pytz
requests
retrying
rsa
six
uritemplate
urllib3
IPython             5.5.0
jupyter_client      5.3.5
jupyter_core        4.9.1
notebook            5.3.1
